.main_text {
  text-align: center;
  margin: 40px;
  background: linear-gradient(90deg, #c9ab79 0%, #fce5c2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 60px;
  width: 75%;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 40px;
}

.image {
  width: 300px;
  height: 380px;
}

.about_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_main {
  color: #ffffff;
  background-color: #271430;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  gap: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.btn_catalog {
  color: #ffffff;
  background-color: #271430;
  border: none;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about img {
    display: none;
  }
  .main_text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
  }
  .btn_catalog {
    display: none;
  }
}
