.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 clamp(20px, 2.0832vw, 80px);
  margin-top: clamp(15px, 1.5624vw, 60px);
}

.cash {
  width: 5%;
  padding: clamp(10px, 1.0416vw, 40px);
}

.header_mob {
  display: none;
}

.NavLinks {
  padding-top: clamp(10px, 1.0416vw, 40px);
  color: #ffffff;
  text-decoration: none;
  padding-top: clamp(20px, 2.0832vw, 80px);
}

@media only screen and (max-width: 600px) {
  .header_mob {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .header_mob img {
    display: none;
  }

  .header {
    display: none !important;
  }
}
