.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 30px;
}

.cash {
  width: 5%;
  padding: 20px;
}

.header_mob {
  display: none;
}

.NavLinks {
  padding-top: 20px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 40px;
}

@media only screen and (max-width: 600px) {
  .header_mob {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .header_mob .logo {
    display: none;
  }

  .header {
    display: none !important;
  }
}
