.burgerIcon {
  width: 70px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burgerIcon .bar {
  height: 3px;
  z-index: 19;
  background-color: #c9ab79;
  transition: all 0.3s ease;
  width: 40px;
}

.burgerIcon.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerIcon.open .bar:nth-child(2) {
  opacity: 0;
}

.burgerIcon.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #271430;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu.open {
  display: flex;
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.burger_links {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
