.about_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 30px 20%;
}

.about_text p {
  color: #e5e0d4;
}

.about_title {
  font-size: 60px;
  margin-bottom: 20px;
  color: #c9ab79;
  margin-right: 5%;
}
